<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lemon.system.mapper.SysRoleMapper">

    <resultMap type="org.lemon.system.domain.vo.SysRoleVo" id="SysRoleResult">
    </resultMap>

    <select id="selectRolesByAll" resultMap="SysRoleResult">
        select r.role_id,
               r.role_name,
               r.role_key,
               r.role_sort,
               r.data_scope,
               r.status
        from sys_role r
    </select>
</mapper>
